*{
    margin: 0;
    scroll-behavior: smooth;
}

.items p{
    margin-left: 15px;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, sans-serif;
}

.items span{
    margin-left: 50px;
    font-family:'Roboto' serif;
    font-size: 1em;
    color:dimgray;
}