*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
body{
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding-bottom: 70px;
}
.navbar{
    height: 80px;
    width: 100%;;
}
a.logo{
    margin-top: -8px;
    margin-left: -12px;
}
.navbar a{
    align-items: center;
    text-align:center;
    right: 0;
   
}
a.icon-link {
    color: aliceblue;
    margin-top: -70px;
    text-decoration: solid;
}
.bi-box-arrow-right{
    margin-bottom: 5px;
}
footer{
    padding: 20px;
    position:absolute;
    height: 60px;
    background-color: black;
    bottom: 0;
    width:100% ;
}

/*responsive css styles */
@media only screen and (max-width: 600px) {
    .navbar {
        height: 89px !important;
    }
    a{
        display: flex;
        
    }
  }