*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    
}

main{
    justify-content: center;
    flex-direction:row;
    display:block;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
#aside{
    color: blue;
}
.frame{
    box-sizing: border-box;
    box-shadow: 10px 5px 5px red;
    border: solid 1px black;
    justify-content: center;
    height: 200px;
    width: 200px;
    box-shadow: 0 40px 80px #FBE4E0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.row a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}
.row.bi{
    align-items: center;
    justify-content: center;
    margin-top:30px ;
    margin-left: 10px;
    margin-bottom: auto;
}


.row p{
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-weight: 800;
    font-family:'lora' ;
    
}
.container{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.row i.bi{
    font-size:xx-large;
}
footer{
    padding: 20px;
    position:absolute;
    height: 60px;
    background-color: black;
    bottom: 0;
    width:100% ;
}

@media only screen and (max-width: 600px) {
.frame{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction:column;
   
}
.carte{
    align-items: center;
    justify-content: center;
    margin-right: 50%;
    margin-top: -30px;
}
.row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
   
}
.logout{
    display:inline-block;
    right:0;
    
}
}